.headerdesignforusermanage {
  color: #3f51b5 !important;
}

.MuiTypography-body1 {
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 14px !important;
}

.MuiTableCell-root {
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  // font-size: 14px !important;
  font-weight: 400;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}
.width_20{
  width: 22%;
}

.widthsetup {
  .MuiSelect-select {
    cursor: pointer;
    text-align: initial !important;
    min-width: 100% !important;
    user-select: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.MuiFormLabel-root {
  color: #666666 !important;
  padding: 0;
  font-size: 16px !important;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 600 !important;
}
.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #3f51b5 !important;
}
.tabledesignforfixtureManage{
.MuiInputBase-input {
  font-size: 14px !important;
  color: #a6a6a6 !important;
  font: initial !important;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
}

.MuiMenuItem-root {
  font-size: 14px !important;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.tabledesignforfixtureManage{
.MuiTableCell-head {
  font-size: 16px !important;
  text-align: center !important;
}
.MuiTableContainer-root {
  border-radius: 5px !important;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12) !important;
  max-height: 510px !important;
}
.MuiTableCell-body {
  text-align: center !important;
}
}


.MuiTextField-root {
  text-align: center;
  @media only screen and (min-width: 992px) {
    width: 50%;
        // background-color: pink;
      }
  margin-left: 10%;
  margin-top: 5%;
}
.formdesign {
  display: flex;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 14px;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.MuiFormControl-root {
  @media only screen and (min-width: 992px) {
    min-width: 50% !important;
        // background-color: pink;
      }
      @media only screen and (min-width: 360px) and (max-width: 768px) {
        min-width: 100% !important;
        // background-color: green;
      }
 
  margin-left: 13px;
}
.inputdesign {
  border: none;
  border-bottom: 1px solid blue;
}
.buttondesign {
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1%;
  font-size: 14px;
  font-weight: 600;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.buttondesignforusermanage {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ffff;
}
.tabledesignforfixtureManage {
  .MuiTableCell-stickyHeader {
    
    border-top: 1px solid #e0e0e0 !important;
  }
  .MuiTableSortLabel-root {
    color: black !important;
    // background-color: #3f51b5 !important;
  }
  // .makeStyles-root-12 {
  //   border: 1px solid #e0e0e0 !important;
  // }
}

.usermangedesign {
  @media only screen and (min-width: 992px) {
    // width: 50%;
    background-color: white;
    margin-left: 90%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12) !important;
        // background-color: pink;
      }
  text-align: end;
  margin-right: 6%;
 
  margin-bottom: 1%;
  padding-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  
}

.MuiTableContainer-rootdesign {
  overflow-x: auto;
  margin-bottom: 5% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}


// .table__style {
//   min-height: 200px;
//   .table__style--revert {
//     min-height: 0 !important;
//   }
// }
