.font-size{
    font-size: 14px;
}
.headidngfordialoguebox{
    font-size: 17px;
    color: blue;
    font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.savebutton{
    background-color: blue;
}