.file__container {
  min-height: 65%;
  overflow-y: scroll;

  .file__preview {
    border: 2px dashed;
    position: relative;
    height: 50%;

    &-close {
      position: absolute;
      top: -15px;
      right: -7px;
      color: grey;
    }

    img {
      height: 20px;
      width: 20px;
    }

    .pdf__file {
      height: 50px;
    }

    .pdf__icon {
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 600px) {
    margin-top: 1rem;
  }
}
