.form-group {
    button {
        height: 50px;
    }
}

.btn-left-icon {
    img {
        width: 27px;
        margin-bottom: 2px;
        margin-right: 0.4rem;
    }
}

.btn.info-container-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.bg-green {
    background-color: #62B86A !important;
  }