@import "../../../assets/scss/abstracts/abstracts-dir.scss";

.form-group {
  position: relative;
  margin-bottom: 25px !important;
  input {
    // height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none !important;
    // border-bottom: 1px solid $black !important;
    border-radius: 0 !important;
  }

  input::focus {
    outline: none !important;
  }

  label {
    font-size: 14px;
    margin-bottom: 5px;
    color: $black;
  }

  textarea,
  select {
    border: 1px solid #e8e8e8;
    font-size: 16px;
    color: black;
    border-radius: 4px;
    &::placeholder {
      color: grey;
    }
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  textarea {
    min-height: 108px;
    padding: 10px;
  }
}
